.view-scientific-reports .view-mode-teaser {
    background-color: #FFFFFF;
    padding: 15px;
    margin: 0 0 20px 0;
}
.view-scientific-reports .view-mode-teaser .field-name-field-sr-theme .field-item {
    background: #cfd1dd;
    font-size: 12px;
    padding: 5px 7px;
    display: inline;
}
.view-scientific-reports .view-mode-teaser .field-name-field-displayed-pub-date {
    margin-top: 5px;
}
.view-scientific-reports .view-mode-teaser .field-name-field-displayed-pub-date span {
    font-size: 12px;
}
.view-scientific-reports .view-mode-teaser h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}
.view-scientific-reports .view-mode-teaser .field-name-field-subtitle {
    font-size: 16px;
}
.view-scientific-reports .view-mode-teaser .field-name-field-sr-abstract {
    margin-top: 5px;
}

.node-scientific-report .sr-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
}
.node-scientific-report .group-sr-sites-theme {
    overflow: hidden;
    margin-top: 20px;
}
.node-scientific-report .field-name-field-sectors {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
}
.node-scientific-report .field-name-field-sr-theme {
    float: right;
    width: 50%;
    padding-left: 15px;
}
.node-scientific-report .field-name-field-displayed-pub-date {
    clear: both;
    padding-top: 10px;
}
.node-scientific-report .group-sr-report-infos {
    margin-top: 20px;
    padding-top: 20px;
}
.node-scientific-report .group-sr-report-infos .field {
    padding: 5px 0;
}
.node-scientific-report .group-sr-report-infos .field .field-label {
    width: 30%;
}
.node-scientific-report .field-name-field-sr-abstract {
    padding: 20px 0;
}

