# Ignore builds folders
builds/*
!builds/README.txt

# Ignore configuration files that may contain sensitive information.
shared/*/settings.php

# Ignore paths that contain public and private generated content.
shared/*/files/*
!shared/*/files/.htaccess
shared/private/*
!shared/private/*/.htaccess
shared/apache_authentication

# Ignore www symblink.
www

# Ignore all translation files
repository/translations/*

# Ignore Galleria Folio theme files
repository/libraries/galleria/themes/folio/galleria.folio.min.js
repository/libraries/galleria/themes/folio/galleria.css
