# Ignore builds folders
builds/*
!builds/README.txt

# Ignore configuration files that may contain sensitive information.
shared/*/settings.php

# Ignore paths that contain public and private generated content.
shared/*/files/*
!shared/*/files/.htaccess
shared/private/*
!shared/private/*/.htaccess

# Ignore www symblink.
www
