/* COULEURS LETTRE D'INFOS PNG */

/* Bloc Titre - Date */
.node-simplenews.view-mode-full .group-title-date-banner {
    background-color: #b0afb8;
}
/* Titre de la newsletter */
.node-simplenews.view-mode-full .group-title-date-banner .field-name-title {
    color: white;
}
/* Date */
.node-simplenews.view-mode-full .field-name-field-newsletter-date {
    color: white;
}
/* Ligne épaisse de séparation Intro / Sujet phare */
.node-simplenews.view-mode-full .field-name-field-newsletter-intro {
    border-bottom: 5px solid #dddddd;
}
/* Blocs de titre de rubrique */
.node-simplenews.view-mode-full .newsletter-section-header {
    background-color: #e4e4e4;
}
/* Titre d'une rubrique */
.node-simplenews.view-mode-full .newsletter-section-header h3 {
    color: #777;
}
/* Ligne fine de séparation des items */
.node-simplenews.view-mode-full .field-type-entityreference > div.field-items > div.field-item:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}
/* Agenda - Catégorie d'évènement */
.node-simplenews.view-mode-full .field-name-field-event-categorie {
    color: #7c7c7c;
    font-style: italic;
}
/* Agenda - Plage de temps */
.node-simplenews.view-mode-full .newsletter-agenda-adverb {
    color: #7c7c7c;
}
