#block-mailchimp-signup-newsletter-block {
    width: 30%;
    float: right;
    /*padding-left: 25%;*/
    background-image: url('../images/icon_pencil.png');
    background-repeat: no-repeat;
    background-position: left 10%;
}
#block-mailchimp-signup-newsletter-block h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0;
    margin-left: 20%;
}
#block-mailchimp-signup-newsletter-block form {
    margin-left: 20%;
}
#block-mailchimp-signup-newsletter-block label {
    display: none;
}

#block-mailchimp-signup-newsletter-block .mailchimp-newsletter-mergefields {
    width: 80%;
    float: left;
}
.form-item-mergevars-EMAIL {
    margin-bottom: 0;
}
#edit-mergevars-email {
    border: none;
    border-radius: 0;
}
#block-mailchimp-signup-newsletter-block button {
    border-radius: 0;
    border: 1px solid #6c82a7;
    background-color: #6c82a7;
    color: white;

}
.mailchimp-signup-info {
    color: black;
    font-size: 90%;
}