// Insert your styling here.
.pnf_pre_footer{
	background: #8e9fbc;
	color:#fff;
}

.footer{
	margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    background: #fff;
	h2{
		font-size: 1.15em;
		font-weight: 600;
	}
	.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{
		background: transparent;
	}
	.nav > li > a{
		font-size: @font-size-small;
		padding: 10px 0;
	}
}


span.on-the-web{
	float: left;
}

.block:first-child h2.block-title{
	margin-top: 20px;
}
