// Insert your styling here.

/*Utilitise class*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*Site name*/
header .name{
	text-indent: -9999px;
	position: absolute;
}

/*FONTAWESOME*/
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/font-awesome-4.4.0/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
			url('../fonts/font-awesome-4.4.0/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
			url('../fonts/font-awesome-4.4.0/fontawesome-webfont.woff?v=4.4.0') format('woff'),
			url('../fonts/font-awesome-4.4.0/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
			url('../fonts/font-awesome-4.4.0/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Header*/
.header{
	margin-top: -65px;
	background: #fff;
}

/*Menu select*/
#block-menu-menu-menu-park select{
	background-color: @brand-primary;
    border: none;
    color: #fff;
}

/*Menu thematique*/
nav{
	margin-top: -92px;
}
nav .tb-megamenu {
    background-color: transparent;
	    .nav > li > a{
		color: #000;
		text-transform: uppercase;
		font-weight: 600;
		font-size: @font-size-large;
		border-right:none;
		}
		.nav li.dropdown.open > .dropdown-toggle{
			background: @brand-primary;
			color: #fff;
		}
		.nav li.dropdown.open > .dropdown-toggle .mega-caption{
			color: #fff;
			border-left: 1px solid #fff;
			padding-left: 10px;
		}
		.mega-caption{
			text-transform: none;
			font-style: italic;
			font-weight: 400;
			border-left: 1px solid @brand-primary;
			padding-left: 10px;
		}
		.nav .dropdown-menu{
			background: #e7e7e7;
			border-bottom: none;
			ul li{
				border: none;
			}
			a.mega-group-title{
				color: #8e9fbc;
				text-transform: uppercase;
				border-bottom: 1px solid #cbd0d9;
				font-size: @font-size-large;
				font-weight: 600;
				padding-left: 10px;
			}
			ul li.mega-group .open a.mega-group-title:focus,
			ul li.mega-group .open  a.mega-group-title:hover,
			ul li a:hover{
				background: #c7cdd7;
				border: none;
				color: #3a353c;
			}
			ul ul li a{
				color: #3a353c;
				text-transform: none;
				border: none;
				font-size: @font-size-base;
				font-weight: normal;
				padding-left: 10px;
			}
			ul ul li a:hover{
				border:none;
			}
		}
}

/*Slideshow*/
#slide-infos-wrapper{
	width: 550px;
    height: 170px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    background-color: #000;
	background-color: rgba(0,0,0,.5);
	color:#fff;
}

.region-top-menu {

	.block{
		float: left;
	}

	.form-type-textfield{
		display: none;
	}

}