// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

// CUSTOM VARIABLES
@brand-primary: #00965E;
@navbar-default-bg: @brand-primary;


body{
  background: url('../images/logo_bg_body.png') no-repeat bottom 30% right #f4f4f4;
}

/* Main site colors */
.main-container {
  a:not(.btn) {
    color: #01965e !important;
  }
  blockquote:before, blockquote:after {
    color: #00965e;
  }
}

.pnf_pre_footer {
  background: #b2a7a1;
}

/* Top menus */
#block-menu-menu-national-parks,
#block-menu-menu-menu-park {
  ul li ul.dropdown-menu li a:hover{
    background-color: #c6cddd;
  }
}

/* TB Megamenu */
nav .tb-megamenu {
  .nav .dropdown-menu {
    a.mega-group-title,
    a.mega-group-title:hover{
      color: #003da5;
    }
    ul li a:hover {
      background: #c6cddd;
    }
  }
}

/* Sidebar menu */
.region-sidebar-second .block-pnf-raa,
.region-sidebar-second .block-menu {
  ul li a {
    background: #c6cddd;
    color: #38353e !important;
  }
  ul li.open a,
  ul li a.active{
    background: #003ea5;
    color: #FFF !important;
    font-weight: 600;
  }
}

/* Tools menu */
#block-menu-menu-tools{
  a.tool-ibex:after{
    content: '\f1e5';
  }
}

/* Font size pictos */
a#text_resize_increase,
a#text_resize_decrease {
  color: #a1a1a1 !important;
}

/* RAA styles */
.view-raa {
  .ui-corner-all,
  .ui-state-active,
  .ui-state-hover,
  .ui-state-focus,
  .ui-state-default{
    background: #003ea5 !important;
  }
}

/*Ckeditor*/
.node-type-page,
.node-type-news,
.node-type-event,
.node-page,
.node-advanced-page {
  .intro {
    color: #758298;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
  }
}
.cke-h3 {
    font-weight: normal !important;
    font-size: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
}
.cke-h4 {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.cke-p {
    text-align: justify;
}
.cke-green1 {
    color: #00965e !important;
}
.cke-green2 {
    color: #78be20;
}
.cke-blue1 {
    color: #003da5;
}
.cke-black {
    color: #000000 !important;
}
