// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

// CUSTOM VARIABLES
@brand-primary: #001489;
@brand-secondary: @brand-primary;
@navbar-default-bg: @brand-primary;

body{
  background: url('../images/logo_bg_body.png') no-repeat bottom 30% right #f4f4f4;
}

/* Main site colors */
.main-container {
  a:not(.btn) {
    //color: #78be20 !important;
  color: darken(#78be20, 12%) !important;
  }
  blockquote:before, blockquote:after {
    color: #001489;
  }
  .field-name-field-downloadable-docs a {
    color: #a1561c !important;
  }
}

.pnf_pre_footer {
  background: #689d26;
}

/* Top menus */
#block-menu-menu-national-parks,
#block-menu-menu-menu-park {
  ul li ul.dropdown-menu li a:hover{
    background-color: #c6d4b5;
  }
}

/* TB Megamenu */
nav .tb-megamenu {
  .nav .dropdown-menu {
    a.mega-group-title,
    a.mega-group-title:hover{
      color: #689d26;
    }
    ul li a:hover {
      background: #c6d4b5;
    }
  }
}

/* Sidebar menu */
.region-sidebar-second .block-pnf-raa,
.region-sidebar-second .block-menu {
  ul li a {
    background: #c6d4b5;
    color: #35382f !important;
  }
  ul li.open a,
  ul li a.active{
    background: #689d26;
    color: #FFF !important;
    font-weight: 600;
  }
}

/* Font size pictos */
a#text_resize_increase,
a#text_resize_decrease {
  color: #a1a1a1 !important;
}