/** Mailchimp signup block */
#block-mailchimp-signup-newsletter-block {
    width: 30%;
    float: right;
    /*padding-left: 25%;*/
    background-image: url('../images/icon_pencil.png');
    background-repeat: no-repeat;
    background-position: left 10%;
}
#block-mailchimp-signup-newsletter-block h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0;
    margin-left: 20%;
}
#block-mailchimp-signup-newsletter-block form {
    margin-left: 20%;
}
#block-mailchimp-signup-newsletter-block label {
    display: none;
}

#block-mailchimp-signup-newsletter-block .mailchimp-newsletter-mergefields {
    width: 80%;
    float: left;
}
.form-item-mergevars-EMAIL {
    margin-bottom: 0;
}
#edit-mergevars-email {
    border: none;
    border-radius: 0;
}
#block-mailchimp-signup-newsletter-block button {
    border-radius: 0;
    border: 1px solid #aaaaaa;
    background-color: #aaaaaa;
    color: white;

}
.mailchimp-signup-info {
    color: white;
    font-size: 90%;
    font-style: italic;
}

/* Newsletter full mode page */
.node-simplenews .mailchimp-campaign-links {
    float: right;
    padding: 10px 0;
}

/* Mailchimp campaigns form */
#content-sections {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Mailchimp campaign view page */
.node-simplenews {
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    /*line-height: 1.42857143;*/
    /*color: #333333;*/
}
.node-simplenews img {
    display: block;
    clear: left;
}
.node-simplenews h3 {
    font-size: 24px;
    font-weight: 500;
}
.node-simplenews h4 {
    font-size: 18px;
    font-weight: 500;
}
